<!DOCTYPE HTML>
<html>
<head>
  <title>History</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <script type="text/javascript" src="history.js"></script>
  <link rel="stylesheet" type="text/css" href="history.css">
  <link rel="stylesheet" type="text/css" href="index1.css">
</head>
<body class="body">
  <div ng-app="angularApp1" ng-controller="angularCtrl1" >
    <div>
      <div class="stylesheet">
        <header>
            <a href="/index1.html"><img id="juju" src="juju.png"/></a>
          <input type="text" placeholder="search here..." ng-model="search1" size="38" class="searchbar" />
          <button class="search"  ng-click="search()" size="38">Search</button><br>
        </header>
        <div ng-show="1==temp">
            <button class="SignUpbutton" ng-click="signupform()" size="38">SignUp</button><br>
           <button class="Loginbutton" ng-click="login()" size="38">Login</button><br>	
          </div>
          <div ng-show="1!=temp">
              <button class="profilebutton" ng-click="profile()" size="38">Profile</button><br>
              <button class="history" ng-click="history()" size="38">History</button><br>
              <button class="logout" ng-click="logout()" size="38">Logout</button>
              <button class="addtocart" ng-click="cart()" size="38">Cart</button>
          </div>
      </div>
      <section class = "card">
        <h1>Categories</h1>
        <ul>
          <li><button class="category" ng-click="Category1()" value="catemob">MobilePhone</button></li>
          <li><button class="category" ng-click="Category2()" value="catemens">Men's Fashion</button></a></li>
        </ul>
      </section>
      <div class ="tablecart">
         <table style="width:100%" >
          <tr>
            <th>Product Name</th>
            <th>Merchant Name</th> 
            <th>Email id</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Date</th>
          </tr>
          <tr ng-repeat="item in user">
            <td>{{item.productName}}</td>
            <td>{{item.merchantName}}</td>
            <td>{{item.emailid}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.date}}</td>
          </tr>
        </table>
    </div>
  </div>  
</body>
</html>