<!DOCTYPE html>
<html>
<head>
	<title>Sign Up page</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script type="text/javascript" src=login.js></script>
	<link rel="stylesheet" type="text/css" href="login.css">
	<link rel="stylesheet" type="text/css" href="index1.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="body">
	<div ng-app="angularlogin" ng-controller="angularCtrlloginPage" class="loginmain" >
		<div class="stylesheet">
			<header>
					<a href="/index1.html"><img id="juju" src="juju.png"/></a>
				<input type="text" placeholder="search here..." ng-model="search1" size="38" class="searchbar" />
				<button class="search"  ng-click="search()" size="38">Search</button><br>
			</header>
			<div ng-show="1==temp">
					<button class="SignUpbutton" ng-click="signupform()" size="38">SignUp</button><br>
				 <button class="Loginbutton" ng-click="login()" size="38">Login</button><br>	
				</div>
				<div ng-show="1!=temp">
						<button class="profilebutton" ng-click="profile()" size="38">Profile</button><br>
						<button class="history" ng-click="history()" size="38">History</button><br>
						<button class="logout" ng-click="logout()" size="38">Logout</button>
						<button class="addtocart" ng-click="cart()" size="38">Cart</button>
				</div>
		</div>
		<section class = "card">
			<h1>Categories</h1>
			<ul>
				<li><button class="category" ng-click="Category1()" value="catemob">MobilePhone</button></li>
				<li><button class="category" ng-click="Category2()" value="catemens">Men's Fashion</button></a></li>
			</ul>
		</section>
		<centre>
			<form class ="card1" name = "myForm" >
				<span id="login">Login...</span><br>
				<br>
				<span class="loginform">Email address</span><br>
				<input class="inputtype" type="email" name ="email" ng-model="email"placeholder="Your email address.."required /><br>
				<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
						<span ng-show="myForm.email.$error.required">Email is required.</span>
						<span ng-show="myForm.email.$error.email">Invalid email address.</span>
						</span>
				<br>
				<span class="loginform">Password</span><br>
				<input class="inputtype" type="password" name="password" ng-model="password"placeholder="Your password.."required /><br>
				<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
						<span ng-show="myForm.password.$error.required">Password is required.</span>
						<span ng-show="myForm.password.$error.minlength">Minimum length is 5.</span>
						</span><br>
				<input type="submit" class=" btn btn-primary inputtype" ng-click="submit()"
					ng-disabled="myForm.password.$invlaid || myForm.email.$dirty && myForm.email.$invalid"/>
				<br>
				<span class="signupform">Create an account?</span>
				<a href="/signup.html">Signup here</a>
			</form>
		</centre>
	</div>
</body>
</html>