<!DOCTYPE html>
<html>
<head>
	<title>Product details</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="productmerchant.css">
  <link rel="stylesheet" type="text/css" href="index1.css">
  <script type="text/javascript" src=productmerchant.js></script>
  <script type="text/javascript" src=productdetails1.js></script>
</head>
<body ng-app='angularProductMerchant' ng-controller='angularCtrlMerchantProduct' class="body">
	<div>
    <div>
      <header>
          <a href="/index1.html"><img id="juju" src="juju.png"/></a>
        <input type="text" placeholder="search here..." ng-model="search1" size="38" class="searchbar" />
        <button class="search"  ng-click="search()" size="38">Search</button><br>
      </header>
      <div ng-show="1==temp">
          <button class="SignUpbutton" ng-click="signupform()" size="38">SignUp</button><br>
         <button class="Loginbutton" ng-click="login()" size="38">Login</button><br>	
        </div>
        <div ng-show="1!=temp">
            <button class="profilebutton" ng-click="profile()" size="38">Profile</button><br>
            <button class="history" ng-click="history()" size="38">History</button><br>
            <button class="logout" ng-click="logout()" size="38">Logout</button>
            <button class="addtocart" ng-click="cart()" size="38">Cart</button>
        </div>
      <section class = "card"> 
       <h1>Categories</h1>
       <ul>
        <li><button class="category" ng-click="Category1()" value="catemob">MobilePhone</button></li>
        <li><button class="category" ng-click="Category2()" value="catemens">Men's Fashion</button></a></li>
      </ul>
    </section>
  </div>
</div>
<centre>
  <section>
    <div class="img1">
     <img ng-src="{{products.img}}"/>
   </div>
   <div class="productdetails">
    <h1>{{products.name}}</h1>
    <h3><b>Price : </b>{{products.merchantdetails[0].price}} </h3>
    <div class="specification">
      <h2>Specification</h2>
      <div class="descriproduct" ng-repeat="productkey in keyobj">
        {{productkey}} :{{valuobj[productkey]}}
      </div>
    </div>
  </div>
</section>
<div class ="tablecart">
  <centre>
   <table style="width:100%" >
    <tr>
      <th>MerchantName</th>
      <th>Price</th> 
      <th>Review</th>
    </tr>
    <tr ng-repeat="product in products.merchantdetails">
      <td><a href="/productdetails1.html?product_id={{productid}}&merchant_id={{product.merchantid}}"/>{{product.merchantname}}</td>
      <td>{{product.price}} </td>
      <td>{{product.customerreview}}</td>
    </tr>
  </table>
</centre>
<font size="5"><p><b>Select the merchant to place an order..</b></p></font>
</div>
</centre>
</div>
</body>
</html>