.img1
{
	margin-left: 30%; 
}
.img1 img{
	margin-top: 2%;
	width: 43%;
	max-height: 400px;
	float: left;
	display: flex;
}
.specification{ 
	float: left;
	font-size: 15px
}
.displaydecription{
	font-size:"25px";
	float: left;
}
.descriproduct{
	background-color: white;
	width: 57%;
	padding: 6px;
	float: left;
}
.productdetails{
	margin-left: 60%;
	padding: 10px ;
	padding-left: 30px;
	width: 20%;
}
#quantity { padding:5px; width:35px; border: 1px solid #555; }
.BuyNow{
	margin-top: 40px;
	font-size: 20px;
}
.AddtoCart{
	margin-top: 45px;
	font-size: 20px;
}